@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  align-items: center;
  background-color: transparent;
  color: #00ff00;
  display: flex;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.stats-container {
  background: #111;
  border-radius: 10px;
  border: 4px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  padding: 20px;
  text-transform: uppercase;
}

h2 {
  color: #ffcc00;
  text-shadow: 3px 3px 0px #000;
}

.stat {
  font-size: 1.2em;
  margin: 10px 0;
  text-shadow: 2px 2px 0px #000;
}

.input-field {
  background: #111;
  border-radius: 5px;
  border: 4px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  max-width: 300px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  -webkit-app-region: no-drag;
}

/* Glow effect when the input is focused */
.input-field:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 15px #ffcc00;
}

.exit {
  background-color: #000;
  border-radius: 5px;
  border: 4px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
  max-width: 100px;
  padding: 10px;
  -webkit-app-region: no-drag;
}

.exit-container {
  display: flex;
  justify-content: center;
}

.exit:hover {
  border-color: #ffcc00;
  box-shadow: 0 0 15px #ffcc00;
}
